:root {
  --gradient: linear-gradient(
    90deg,
    orangered,
    darkorange,
    orange,
    darkorange,
    orangered
  );
}

body {
  background-color: black !important;
}

.canvas-body {
  background-image: var(--gradient);
  height: 500px;
  margin-bottom: 200px;
}

.links {
  display: flex;
  margin-top: 0px;
}
.links .media a {
  margin-left: 200px;
  font-size: 2em;
}
.links .media a:hover {
  margin-left: 280px;
  font-size: 3.1em;
}

.tsparticles-canvas-el {
  max-height: 500px;
}
